@import "../../../App.scss";
.postCont{
    display: flex;
    flex-direction: column;
}
.post{
    display: flex;
    align-items: flex-start;
    border-bottom: 0.1mm solid $borderColor;
    padding: 10px 10px 10px 0;
}
.post-body{
    flex: 1;
    padding: 10px;
    img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    }
}
.post-footer{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    color: #6E767D;
}
.message:hover{
   color: $colorBLue;
   cursor: pointer;
}
.retweet:hover{
    color: rgb(87, 214, 87);
    cursor: pointer;
}
.heart:hover{
    color: rgb(240, 120, 120);
    cursor: pointer;
}
.share:hover{
    color: $colorBLue;
    cursor: pointer;
}
.post-header{
    display: flex;
    flex-direction: column;
}
.post-headerText > h3{
    font-size: 15px;
    margin-bottom: 5px;
    
    cursor: pointer;
    color: white;
}
.post-headerText > h3:hover{
    text-decoration: underline;
}
.username{
    font-weight: 600;
    font-size: 12px;
    color: gray;
}
.post-headerDescription{
    font-size: 15px;
    margin-bottom: 10px;
    color: white;
}
.post-avatar{
    padding: 20px 0 0 20px;
    img{
        width: 45px;
        height: 45px;
    }
}
.avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
}
.avatar:hover{
    background-color: #f0f0f0;
}
.example::-webkit-scrollbar {
    display: none;
  }
  .example {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }