@import "../../App.scss";
.Search {
  max-width: 600px;
  min-width: 600px;
  flex-direction: column;
  display: flex;
  align-content: flex-start;
  .SearchInput {
      display: flex;
      flex-direction: row;
  }
  .SearchIcone {
    margin-top: 15px;
    margin-left: 15px;
    background: $background2;
    height: 45px;
    border-radius: 35px 0 0 35px;
    padding: 0 5px;
    display: flex;
    align-items: center;
    color: $fontColor;
    svg {
      margin-left: 10px;
    }
  }
  input {
    background: $background2;
    border: none;
    height: 45px;
    margin-top: 15px;
    margin-right: 15px;
    padding: 0 15px;
    border-radius: 0 35px 35px 0;
    width: -webkit-fill-available;
    &:focus-visible {
      outline: none;
    }
  }
}
html[theme="light"]{
    .Search{
        .SearchInput{
            input{
                background: $borderColorlight;
            }
            .SearchIcone{
                background: $borderColorlight ;
                color: #000;
            }
        }
    }
}
@media only screen and (max-width: 1260px) {
  
}
@media only screen and (max-width: 600px) {
  .Search{
    min-width: 100%;
  }
}