@import "../../App.scss";
@import url("https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap");
@font-face {
    font-family: "Montserrat";
    src: url(https://fonts.googleapis.com/css2?family=Karla:wght@800&display=swap);
    font-weight: bold;
}
.login {
    width: 100%;
    max-height: 100vh;
    display: flex;
    flex-direction: row;
}
.photo {
    width: 55%;
    overflow: hidden;
    img {
        width: auto;
        height: 100vh;
    }
    svg {
        position: relative;
        bottom: 75%;
        left: 50%;
        transform: translate(-50%);
        color: #fff;
        width: 400px;
        height: 400px;
        z-index: 9999;
    }
}
.formCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    width: 45%;
    margin-top: 30px;
    svg {
        width: 50px;
        height: auto;
    }
    .formHade {
        h1 {
            font-family: "karla", sans-serif;
            font-weight: bold;
            font-size: 5rem !important;
            margin-top: 0;
            @media screen and (max-width: 600px) {
                font-size: 2.5rem !important;
                width: max-content;
            }
        }
        h2 {
            font-size: 2.5rem !important;
            @media screen and (max-width: 600px) {
                font-size: 2.5rem !important;
                width: max-content;
            }
        }
    }
    form {
        width: max-content;
        height: 70vh;
        display: flex;
        flex-direction: column;
        span {
            margin-top: 10px;
            margin-left: 10px;
            a {
                color: $colorBLue;
            }
        }
    }
}
.errorbar{
    min-width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    border:0.1mm solid orangered ;
    border-radius: 35px;
    background: #ff45001a;
    justify-content: center;
    margin: 10px !important;
    font-size: 0.8rem;
    color: orangered;
}